@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 129 39% 10%;

    --card: 0 0% 100%;
    --card-foreground: 129 39% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 129 39% 10%;

    --primary: 130 100% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 130 10% 93%;
    --secondary-foreground: 129 39% 10%;

    --muted: 130 10% 93%;
    --muted-foreground: 129 10% 46%;

    --accent: 130 10% 93%;
    --accent-foreground: 129 39% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 130 10% 90%;
    --input: 130 10% 90%;
    --ring: 130 100% 20%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 129 39% 6%;
    --foreground: 0 0% 98%;

    --card: 129 39% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 129 39% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 130 100% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 129 39% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 129 39% 12%;
    --muted-foreground: 129 10% 63.9%;

    --accent: 129 39% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 129 39% 12%;
    --input: 129 39% 12%;
    --ring: 130 100% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
